body {
    background-color: #EDE6DB;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

nav > h1 {
    background-color: #1D5C63;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 0;
    margin-bottom: 10px;
}

.container {
    background-color: #417D7A;
    height: 600px;
    width: 900px;
    margin: auto;
    margin-bottom: 10px;
}